body {
    background-image: url(../images/unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

#questionNumber {
    color: black;
    font-weight: bold;
}

.jumbotron {
    opacity: 0.93;
    filter: alpha(opacity=50);
    margin: 155px 150px 0 150px;
}

.buttonWrap {
    text-align: center;
}

#startBtn,.reset{
    background-color: gray;
    border-color: white;
	color: white;
	font-family: 'Sigmar One', sans-serif;
	font-size: 30px;
    padding: 0 50px 0 50px;
    margin-top: 25%;
}


#startBtn:hover, .reset:hover{
	background-color: #202364;
    background: darkred;
    border-color: gray;

}

#timer {
    color: red;
    font-weight: bold;
}

.questions {
    color: black;
    font-weight: bold;
}